body,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-color: #ffffff;
  height: 72px;
}

.header-section {
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav-link:focus,
.nav-link:hover {
  color: #404bbf;
}

.address-link {
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.071428571428571;
  text-align: center;
}

.button1 {
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  width: 169;
  height: 56;
  gap: 10px;
  border: none;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.button1:hover {
  background-color: #404bbf;
}

.button-text {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#info-section {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#info-section ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-left: 156px;
}

.mid-info-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  flex: 1;
  justify-content: flex-start;
  font-style: medium;
}

.mid-info-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex: 1;
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111111111111111;
  letter-spacing: 0.02em;
  justify-self: center;
  font-style: bold;
}

h3 {
  color: #2e2f42;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  justify-content: center;
}

#our-team-section {
  background-color: #f4f4fd;
  height: 732px;
}

#our-team-section ul {
  display: flex;
  gap: 24px;
  cursor: pointer;
  justify-content: center;
}

.staff-job {
  color: #434455;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  justify-content: center;
}

#our-port-section {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 1000px;
  margin-bottom: 120px;
}

#our-port-section ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.card-type-text {
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

footer {
  display: flex;
  background-color: #2e2f42;
  height: 312px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 156px;
}

.footer-text {
  display: flex;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.logo-web-header {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-studio-header {
  font-family: "Raleway";
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web-footer {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-studio-footer {
  font-family: "Raleway";
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.address-links {
  display: flex;
  gap: 40px;
}

.portfolio-cards {
  align-items: flex-start;
  justify-content: flex-start;
}

.ourport-text-box {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}

#our-team-section ul li {
  margin-bottom: 32px;
  gap: 32px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  background-color: white;
}

.our-team-header {
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.ourport-header {
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.logo.header {
  margin-left: 156px;
}

.logo.footer {
  display: flex;
  padding-bottom: 16px;
}