body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-color: #ffffff;
}

#header-section {
  background-color: #2e2f42;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-link:focus,
.nav-link:hover {
  color: #404bbf;
}

.address-link {
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

#main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.071428571428571;
}

.button1 {
  background-color: #4d5ae5;
}

.button1:hover {
  background-color: #404BBF;}

.button-text {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#info-section {
  background-color: #ffffff;
}

.mid-info-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.mid-info-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111111111111111;
  letter-spacing: 0.02em;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

#our-team-section {
  background-color: #f4f4fd;
}
.staff-job {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#our-port-section {
  background-color: #ffffff;
}
.card-type-text {
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.logo-web-header {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-studio-header {
  font-family: "Raleway";
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web-footer {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-studio-footer {
  font-family: "Raleway";
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}
